/*
#A2D7D8 blue
#BFE1BF green
#EDEDEA light grey
#FBD059 yellow
#DE5842 orange
*/

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 80ms linear;
  }
  
.navbar.scrolled .nav-link {
    color:#555;
  }



#mainNavLink {
    padding: 0.75em;
}

div#title {
    margin: 20px;
    position: relative;
    background-color: white;
    display: inline-block;
}

body { 
    padding-top: 70px; 
    padding-left: 70px;
    padding-right: 70px;
    line-height: 1.4;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, #a2d7d8, #a5dad3, #abddcd, #b4dfc6, #bfe1bf);
    font-family: 'Nunito Sans', sans-serif;
}

div.card {
    margin-top: 1em;
    border-radius: 15px;
    background-color: white;
}

ol, ul {
    list-style: none;
}

img {
    border-style: none;
    display: block;
    float: left;
    position: relative;
    padding-left: 40px;
    width: 300px;
    position: relative;
    float: left;
    clear: both;
    z-index: 1;
}
